<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #PageUl{
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
      #pagelist{
        list-style-type: none;
        float: left;
        text-align: center;
      }
    </style>
    <script type="text/javascript">

    </script>
  </head>
  <body style="">
    <div class="title_div" >
      <h1><%= title %></h1>
    </div>
    <div class="" id="seach_form_id" >
      <form action="/aafgem/1"  accept-charset="utf-8" method="get">
        <input type="text" placeholder="찾기 버튼을 누르세요" name="searchtext" style="width:200px">
        <select name="searchtype">
            <option value="name">이름 / 강적</option>
            <option value="effect">효과</option>
        </select>
        <input type="submit" class="btn" value="찾기" />

      </form>
    </div>

    <div class="">
    <p style="text-align : right; font-style: oblique; "> ※ 자료 수집 및 정리 - Xeno ※</p>
      <table class="eqtable" style="width:100%; margin:5px">
        <colgroup>
          <col width="150">
          <col width="200">
          <col width="200">
          <col width="100">
          <col width="400">
          <col width="100">
        </colgroup>
        <thead>
          <tr  style='text-align: center'>
            <th>등급</th>
            <th>수집품 이름</th>
            <th>루엘 이름</th>
            <th>착용 대상</th>
            <th>효과</th>
            <th></th>
          </tr>
        </thead>
        <%# tbody에 잇는 스타일은 '\n ' 줄바꿈을 표현함 %>
        <tbody >
          <% if(typeof(CurrentPage) === 'undefined'){ %>
            <tr>
              <td colspan="6"; style= "text-align:center;"> 검색이 필요합니다.</td>
            </tr>
          <% } else { %>
            <% data.forEach(function(item) { %>
            <tr style="white-space: pre-line; font-size:12px;">
              <td><%- item.gemgrade %></td>
              <td style='text-align: center'><%- item.collectname %></td>
              <td style='text-align: center'><%- item.gemname %></td>
              <td style='text-align: center'><%- item.gemobject %></td>
              <td><%- item.gemeffect %></td>
              <td style="white-space: normal; text-align:center">
                <%# 밸류값을 %=title 과 같이 해주면 받아오는 title 값에 따라 value 값이 달라지게 된다. %>

                  <div class="" style="display: inline-block">
                    <form accept-charset="UTF-8" action="/aafgem/fixgem" method="get ">
                      <input type=text list=browsers style="display:none" checked value="<%= item.gemname %>" name="Seachname">

                      <input style="width:60px; " type="submit" value="수정" />
                    </form>
                  </div>

                </td>
            </tr>
            <% }); %>
          <% } %>
          <div class="" id="PageUl">
            <% if(typeof(CurrentPage) === 'undefined'){ %>
              <tr>
                <div class="" id="pagelist" >
                  <td colspan="6" style= "text-align:center; font-size:24px">
                    검색이 필요합니다.
                  </td>
                </div>
              </tr>
            <% } else { %>
              <tr>
                <div class=""  id="pagelist" >
                  <td colspan="6" style= "text-align:center; font-size:24px">
                    <% if (CurrentPage > PageSize){ %>
                      <a href="/aafgem/1?searchtext=<%-Search %>&searchtype=<%- searchtype %>"> ◀◀ </a>
                      <a href="/aafgem/<%- StartPage-1 %>?searchtext=<%- Search %>&searchtype=<%- searchtype %>"> ◀ </a>
                    <% } %>
                    <% for (var iCount = StartPage; iCount <= EndPage; iCount++ ){ %>
                      <% if (iCount == CurrentPage) { %>
                        <b class="btnnonactive"><%- iCount %></b>
                      <% } else { %>
                        <a href="/aafgem/<%- iCount %>?searchtext=<%- Search %>&searchtype=<%- searchtype %>" class="btnactive"><%- iCount %></a>
                      <% } %>
                    <% } %>
                    <% if (EndPage < TotalPage){ %>
                      <a href="/aafgem/<%- EndPage+1 %>?searchtext=<%- Search %>&searchtype=<%- searchtype %>">  ▶ </a>
                      <a href="/aafgem/<%- TotalPage %>?searchtext=<%- Search %>&searchtype=<%- searchtype %>"> ▶▶ </a>
                    <% } %>
                  </td>
                </div>
              </tr>
            <% } %>
          </div>
        </tbody>
      </table>

        <div class="" style="text-align: center">
          <div class="">
            <form accept-charset="UTF-8" class="" action="/aafgem/add_gem" method="get">
              <button onclick=location.href="/aafgem/add_gem" type="button" name="button" style="width:200px">신규등록</a></button>
            </form>
          </div>
        </div>

      </div>
    </div>



  </body>
  <footer>
    <%- include ('footer')%>
  </footer>
</html>
