<!DOCTYPE html>
<html><meta charset="utf-8">

  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
    .contentbox {
      margin: 30px 0px 30px 0px
    }
    input {
      width: 100%;
      padding: 10px 20px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    input[type="text"] {
      border: none;
      border-bottom: solid 1px #D2691E;
    }
    textarea {
			width: 100%;
			height: 200px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    #armgrade {
			width: 100%;
			height: 100px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    input[type=button], input[type=submit], input[type=reset] {
      border: none;
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    label {
      font-size: 18px
    }
    #hint {
      font-size: 14px
    }
    </style>

    <script type="text/javascript">



    </script>
  </head>

  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <div class="content" name= "content"id="content">
      <form class="" name="bodyform" action="/aafarm/fixarm" method="post" onsubmit="">
        <div class="">
          <div class="">
            <input style="float:right; width:0; display:none;"type="text" name="eqid" value="<%= data.armid %>" readonly >
          </div>
          <div class="contentbox" >
            <label for="armgrade">등급</label>

              <textarea type="text" name="armgrade" rows="6" cols="60" id="armgrade"><%- data.armgrade %></textarea>

          </div>
          <div class="contentbox" >
            <label for="armname">이름</label>

              <input type="text" name="armname"  size='40' maxlength='50' value="<%= data.armname %>" id="armname">

          </div>
          <div class="contentbox" >
            <label for="armlimit">제한</label>

              <input type="text" name="armlimit"  size='40' maxlength='50' value="<%= data.armlimit %>" id="armlimit">

          </div>
          <div class="contentbox" >
            <label for="armsocket">소켓</label>

              <input type="text" name="armsocket"  size='40' maxlength='50' value="<%= data.armsocket %>" id="armsocket">

          </div>
          <div class="contentbox" >
            <label for="armether">에테르</label>

                <input type="text" name="armether"  size='40' maxlength='50' value="<%= data.armether %>" id="armether">

          </div>
          <div class="contentbox" >
            <label for="armstats">방어력</label>
            <p id="hint" class="input-hint">
              다음과 같이 ' / ' 를 이용해 물리 마법 방어력을 구분지어 주세요.
              <br>
              예시: <samp>  + 3338 / + 4021 </samp>
            </p>
              <input type="text" name="armstats"  size='40' maxlength='50' value="<%= data.armstats %>" id="armstats"  />

          </div>
          <div class="contentbox" >
            <label for="armproperty">속성방어 및 강화제한</label>
            <p id="hint" class="input-hint">
              속성방어력의 처음과 끝을 괄호로 묶어주세요. 예시 :<br>
              <samp>
                (3500/3500/3500/-2500/0/-2000)<br>
                * 강화비용 12 배 증가 *<br>
                * 강화성공률 6 % 감소 *

              </samp>

            </p>
              <textarea  type="text" name="armproperty" rows="6" cols="60" id="armproperty"><%- data.armproperty %></textarea>

          </div>
          <div class="contentbox" >
            <label for="armfeat">피트</label>
            <p id="hint" class="input-hint">
            예시 :<br>
            <samp>
              디펜시브 페이즈 (+ 6)<br>
              크리티컬 (+ 5)<br>
              어보이드 페이즈 (-4)<br>
              어큐레이시 페이즈 (- 6)

            </samp>
            </p>
              <textarea  type="text" name="armfeat" rows="6" cols="60" id="armfeat"><%- data.armfeat %></textarea>

          </div>
          <div class="contentbox" >
            <label for="armcustom">커스텀</label>
            <p id="hint" class="input-hint">

            예시 : <br>
            <samp>
              크리티컬 데미지 변화 (8% ~ 15 % ) [100% 확률]<br>
              상세 속성 추가 데미지 변화 ( 8%~14 % ) [100% 확률]<br>
              실드 HP 추가 ( 2 % ~ 5 % ) [60% 확률]
            </samp>
            </p>

              <textarea type="text" name="armcustom" rows="6" cols="60" id="armcustom"><%- data.armcustom %></textarea>

          </div>
          <div class="contentbox" >

              <label for="armup">업그레이드 재료</label>
                <textarea type="text" name="armup" rows="6" cols="60" id="armup"><%- data.armup%></textarea>


          </div>
          <div class="writhingbtn" style="height:100px">

            <div class="" style="float:right; " >
              <input type="submit" name="등록하기" style=""value="등록하기" />
              <input onclick="history.back(-1);" style="" type="button" name="" value="뒤로" />

            </div>
          </div>
        </div>

      </form>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
  <script type="text/javascript">


    var textarea1 = document.getElementById("armgrade").value;
    textarea1 = textarea1.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("armgrade").value = textarea1;
    var textarea2 = document.getElementById("armproperty").value;
    textarea2 = textarea2.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("armproperty").value = textarea2;
    var textarea3 = document.getElementById("armfeat").value;
    textarea3 = textarea3.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("armfeat").value = textarea3;
    var textarea4 = document.getElementById("armcustom").value;
    textarea4 = textarea4.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("armcustom").value = textarea4;
    var textarea5 = document.getElementById("armup").value;
    textarea5 = textarea5.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("armup").value = textarea5;

  </script>
</html>
