<!DOCTYPE html>
<html><meta charset="utf-8">
  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style media="screen">
      input {
        width: 100%;
        padding: 10px 20px;
        margin: 5px 0;
        box-sizing: border-box;
      }
      input[type="text"] {
        border: none;
        border-bottom: solid 2px #D2691E;
      }
      textarea {
  			width: 100%;
  			height: 200px;
  			padding: 10px;
  			box-sizing: border-box;
  			border: solid 2px;
  			border-radius: 5px;
  			font-size: 16px;
  			resize: both;
  		}
      #featgrade {
  			width: 100%;
  			height: 100px;
  			padding: 10px;
  			box-sizing: border-box;
  			border: solid 2px;
  			border-radius: 5px;
  			font-size: 16px;
  			resize: both;
  		}
      input[type=button], input[type=submit], input[type=reset] {
        border: none;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
    <script type="text/javascript">
      function checkonclick() {
        if (document.bodyform.name.value == "" || document.bodyform.name.value == null || document.bodyform.name.value == undefined || ( document.bodyform.name.value != null && typeof document.bodyform.name.value == "object" && !Object.keys(document.bodyform.name.value).length ) ) {
          alert("아이템 이름을 입력해주세요!");
          document.bodyform.name.focus();
          return false;
        }
        return true;
      }

    </script>
  </head>
  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <h1><%= title  %></h1>

    <div class="">
      <form class="" name="bodyform" action="/item/fixitem" method="post" onsubmit="return checkonclick()">
        <div class="">
          <div class="">
            <input style="float:right; width:0; display:none;"type="text" name="eqid" value="<%= data.item_id %>" readonly >
          </div>
          <div class="">
            <label for="">이름</label>
            <div class="">
              <input type="text" name="name"  size='40' maxlength='50' value="<%= data.item_name %>" id="item_name">
            </div>
          </div>
          <div class="">
            <label for="">설명</label>
            <div class="">
              <textarea type="text" name="text" rows="6" cols="60" id="item_text"><%- data.item_text%></textarea>

            </div>
          </div>
          <div class="">
            <label for="">효과</label>
            <div class="">
              <textarea type="text" name="effect" rows="6" cols="60" id="item_effect"><%- data.item_effect%></textarea>

            </div>
          </div>
          <div class="">
            <label for="">타입</label>
            <div class="">
              <input type="text" name="type"  size='40' maxlength='50' value="<%= data.item_type%>" id="item_type">
            </div>
          </div>
          <div class="">
            <label for="">개수</label>
            <div class="">
              <input type="text" name="count"  size='40' maxlength='50' value="<%= data.item_count%>" id="item_count">
            </div>
          </div>
          <div class="">
            <label for="">획득 경로</label>
            <div class="">
              <input type="text" name="route"  size='40' maxlength='50' value="<%= data.item_route%>" id="item_route">
            </div>
          </div>


          <div class="writhingbtn" style="height:100px">

            <div class="" style="float:right;">
              <input type="submit" name="등록하기" value="등록하기" />
              <input onclick="history.back(-1);" type="button" name="" value="뒤로" />

            </div>
          </div>
        </div>

      </form>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
  <script type="text/javascript">
    var textarea2 = document.getElementById("item_text").value;
    textarea2 = textarea2.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("item_text").value = textarea2;

    var textarea3 = document.getElementById("item_effect").value;
    textarea3 = textarea3.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("item_effect").value = textarea3;
  </script>
</html>
