<!DOCTYPE html>
<html><meta charset="utf-8">

  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
    .contentbox {
      margin: 30px 0px 30px 0px
    }

    input {
      width: 100%;
      padding: 10px 20px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    input[type="text"] {
      border: none;
      border-bottom: solid 2px #D2691E;
    }
    textarea {
			width: 100%;
			height: 200px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    #wpgrade {
			width: 100%;
			height: 100px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    input[type=button], input[type=submit], input[type=reset] {
      border: none;
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    label {
      font-size: 18px
    }
    #hint {
      font-size: 14px
    }
    </style>
    <script type="text/javascript">



    </script>
  </head>

  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <div class="content" name= "content"id="content" style="margin:0 10% 0 10%">
      <form class="" name="bodyform" action="/aafwp/fixwp" method="post" onsubmit="">
        <div class="">
          <div class="">
            <input style="float:right; width:0; display:none;"type="text" name="eqid" value="<%= data.wpid %>" readonly >
          </div>
          <div class="contentbox">
            <label for="wpgrade">등급</label>
              <textarea type="text" name="wpgrade" rows="6" cols="60" id="wpgrade"><%- data.wpgrade %></textarea>
          </div>
          <div class="contentbox">
            <br>
            <label for="wpname">이름</label>

              <input type="text" name="wpname"  size='40' maxlength='50' value="<%= data.wpname %>" id="wpname">

          </div>
          <div class="contentbox">
            <label for="wplimit">제한</label>

              <input type="text" name="wplimit"  size='40' maxlength='50' value="<%= data.wplimit %>" id="wplimit">
          </div>

          <div class="contentbox">
            <label for="wpsocket">소켓</label>

              <input type="text" name="wpsocket"  size='40' maxlength='50' value="<%= data.wpsocket %>" id="wpsocket">
          </div>
          <div class="contentbox">
            <label for="wpether">에테르</label>

                <input type="text" name="wpether"  size='40' maxlength='50' value="<%= data.wpether %>" id="wpether">
          </div>
          <div class="contentbox">
            <label for="wpstats">방어력</label>
            <p id="hint" class="input-hint">
              다음과 같이 ' / ' 를 이용해 물리 마법 공격력을 구분지어 주세요.
              <br>
              예시: <samp>  + 3338 / + 4021 </samp>
            </p>
              <input type="text" name="wpstats"  size='40' maxlength='50' value="<%= data.wpstats %>" id="wpstats"  />

          </div>
          <div class="contentbox">
            <label for="wpproperty">속성 및 강화제한</label>
              <textarea  type="text" name="wpproperty" rows="6" cols="60" id="wpproperty"><%- data.wpproperty %></textarea>
          </div>
          <div class="contentbox">
            <label for="wpfeat">피트 - 웨이블렘 스킬</label>
            <p id="hint" class="input-hint">
            예시 :<br>
            <samp>
              오펜시브 페이즈 (+ 6)<br>
              크리티컬 (+ 5)<br>
              기백 (-4)<br>
              마법 공격 (- 6)

            </samp>
            </p>
              <textarea  type="text" name="wpfeat" rows="6" cols="60" id="wpfeat"><%- data.wpfeat %></textarea>

          </div>
          <div class="contentbox">

              <label for="wpcustom">커스텀</label>
              <p id="hint" class="input-hint">

              예시 : <br>
              <samp>
                크리티컬 데미지 변화 (8% ~ 15 % ) [100% 확률]<br>
                상세 속성 추가 데미지 변화 ( 8%~14 % ) [100% 확률]<br>
                실드 HP 추가 ( 2 % ~ 5 % ) [60% 확률]
              </samp>
              </p>
                <textarea type="text" name="wpcustom" rows="6" cols="60" id="wpcustom"><%- data.wpcustom %></textarea>
          </div>
          <div class="contentbox">
            <label for="">업그레이드 재료</label>
            <div class="">
              <textarea type="text" name="wpup" rows="6" cols="60" id="wpup"><%- data.wpup%></textarea>

            </div>
          </div>
          <div class="writhingbtn" style="height:100px">

            <div class="" style="float:right; " >
              <input type="submit" name="등록하기" style=""value="등록하기" />
              <input onclick="history.back(-1);" style="" type="button" name="" value="뒤로" />

            </div>
          </div>
        </div>

      </form>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
  <script type="text/javascript">

    var textarea1 = document.getElementById("wpgrade").value;
    textarea1 = textarea1.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpgrade").value = textarea1;
    var textarea2 = document.getElementById("wpproperty").value;
    textarea2 = textarea2.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpproperty").value = textarea2;
    var textarea3 = document.getElementById("wpfeat").value;
    textarea3 = textarea3.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpfeat").value = textarea3;
    var textarea4 = document.getElementById("wpcustom").value;
    textarea4 = textarea4.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpcustom").value = textarea4;
    var textarea5 = document.getElementById("wpup").value;
    textarea5 = textarea5.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpup").value = textarea5;

  </script>
</html>
