<!DOCTYPE html>
<html><meta charset="utf-8">

  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
    input {
      width: 100%;
      padding: 10px 20px;
      margin: 5px 0;
      box-sizing: border-box;
    }
    input[type="text"] {
      border: none;
      border-bottom: solid 2px #D2691E;
    }
    textarea {
			width: 100%;
			height: 200px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    #wpgrade {
			width: 100%;
			height: 100px;
			padding: 10px;
			box-sizing: border-box;
			border: solid 2px;
			border-radius: 5px;
			font-size: 16px;
			resize: both;
		}
    input[type=button], input[type=submit], input[type=reset] {
      border: none;
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    </style>
    <script type="text/javascript">




    </script>
  </head>

  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <h1><%- data.wpname  %> 정보 </h1>
    <div class="content" name= "content"id="content">
      <form class="" name="bodyform" action="/aafwp/fixwp" method="post" onsubmit="return checkonclick()">
        <div class="">
          <div class="">
            <label for="">등급</label>
            <div class="">
              <textarea type="text" name="wpgrade" rows="6" cols="60" id="wpgrade"><%- data.wpgrade %></textarea>
            </div>
          </div>
          <div class="">
            <label for="">제한</label>
            <div class="">
              <input type="text" name="wplimit"  size='40' maxlength='50' value="<%= data.wplimit %>" id="">
            </div>
          </div>
          <div class="">
            <label for="">소켓</label>
            <div class="">
              <input type="text" name="wpsocket"  size='40' maxlength='50' value="<%= data.wpsocket %>" id="">
            </div>
          </div>
          <div class="">
            <label for="">에테르</label>
            <div class="">
              <input type="text" name="wpether"  size='40' maxlength='50' value="<%= data.wpether %>" id="">
            </div>
          </div>
          <div class="">
            <label for="">성능</label>
            <div class="">
              <input type="text" name="wpstats"  size='40' maxlength='50' value="<%= data.wpstats %>" id="">
            </div>
          </div>
          <div class="">
            <label for="">속성 및 강화제한</label>
            <div class="">
              <textarea  type="text" name="wpproperty" rows="6" cols="60" id="wpproperty"><%- data.wpproperty %></textarea>

            </div>
          </div>
          <div class="">
            <label for="">피트</label>
            <div class="">
              <textarea  type="text" name="wpfeat" rows="6" cols="60" id="wpfeat"><%- data.wpfeat %></textarea>
            </div>
          </div>
          <div class="">
            <label for="">커스텀</label>
              <textarea type="text" name="wpcustom" rows="6" cols="60" id="wpcustom"><%- data.wpcustom %></textarea>

            </div>
          </div>
          <div class="">
            <label for="">업그레이드 재료</label>
            <div class="">
              <textarea type="text" name="wpup" rows="6" cols="60" id="wpup"><%- data.wpup%></textarea>

            </div>
          </div>
          <div class="writhingbtn" style="height:100px">

            <div class="" style="float:right; " >
              <input type="submit" name="등록하기" style=""value="등록하기" />
              <input onclick="history.back(-1);" style="" type="button" name="" value="뒤로" />

            </div>
          </div>
        </div>

      </form>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
  <script type="text/javascript">


    var textarea1 = document.getElementById("wpgrade").value;
    textarea1 = textarea1.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpgrade").value = textarea1;
    var textarea2 = document.getElementById("wpproperty").value;
    textarea2 = textarea2.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpproperty").value = textarea2;
    var textarea3 = document.getElementById("wpfeat").value;
    textarea3 = textarea3.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpfeat").value = textarea3;
    var textarea4 = document.getElementById("wpcustom").value;
    textarea4 = textarea4.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpcustom").value = textarea4;
    var textarea5 = document.getElementById("wpup").value;
    textarea5 = textarea5.replace(/<br>|<br \/>/g, "\r\n");
    document.getElementById("wpup").value = textarea5;
  </script>
</html>
