<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #PageUl{
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
      #pagelist{
        list-style-type: none;
        float: left;
        text-align: center;
      }
    </style>
    <script type="text/javascript">

    </script>
  </head>

  <body style="">
    <div class="title_div" >
      <h1><%= title %></h1>

    </div>

    <div class="" id="seach_form_id" >
      <form accept-charset="utf-8" action="/item/1" method="get" >
        <input type="text" placeholder="모든 항목" name="searchText" style="width:200px">

        <select name="searchType">
            <option value="name">이름</option>
            <option value="effect">효과</option>
        </select>
        <input type="submit" class="btn" value="찾기" />
      </form>

    </div>

    <div class="">
      <table id="eqtable" style="width:100%; margin:5px">
        <colgroup >
          <col width="10%">
          <col width="30%">
          <col width="25%">
          <col width="5%">
          <col width="5%">
          <col width="20%">
          <col width="5%">

        </colgroup>

        <thead id="item" width='' border='1' class='aaf' bordercolor='#736BE0' cellspacing='0' cellpadding='1' bordercolorlight='#736BE0' bordercolordark='#FFFFFF'>
          <tr  style='text-align: center'>
            <th>이름</th>
            <th>설명</th>
            <th>효과</th>
            <th>타입</th>
            <th>개수</th>
            <th>획득 경로</th>
            <th></th>
          </tr>
        </thead>

        <%# tbody에 잇는 스타일은 '\n ' 줄바꿈을 표현함 %>
        <tbody>
          <% if(typeof(CurrentPage) === 'undefined'){ %>
            <tr>
              <td colspan="6"; style= "text-align:center;"> 검색이 필요합니다.</td>
            </tr>
          <% } else { %>
            <% data.forEach(function(item) { %>
            <tr  style="white-space: pre-line; font-size:12px;">
              <td style='text-align: center'><%- item.item_name %></td>
              <td><%- item.item_text %></td>
              <td><%- item.item_effect %></td>
              <td style='text-align: center'><%- item.item_type %></td>
              <td style='text-align: center'><%- item.item_count %></td>
              <td style='text-align: center'><%- item.item_route %></td>
              <td style="white-space: normal; text-align:center">
                  <div class="" style="display: inline-block">
                    <form accept-charset="UTF-8" action="/item/fixitem" method="get ">
                      <input type=text list=browsers style="display:none" checked value="<%= item.item_name %>" name="Seachname">

                      <input style="width:60px; " type="submit" value="수정" />
                    </form>
                  </div>
              </td>
            </tr>


            <% }); %>
          <% } %>
          <div class="" id="PageUl">
              <% if(typeof(CurrentPage) === 'undefined'){ %>
                <tr>
                  <div class=""  id="pagelist" >
                    <td colspan="6" style= "text-align:center; font-size:24px">
                      검색이 필요합니다.
                    </td>
                  </div>
                </tr>

              <% } else { %>
                <tr>
                  <div class="" id="pagelist" >
                    <td colspan="7" style= "text-align:center; font-size:24px">
                      <% if (CurrentPage > PageSize){ %>
                        <a href="/item/1?searchText=<%-Search %>&searchType=<%- SearchType %>"> ◀◀ </a>
                        <a href="/item/<%- StartPage-1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ◀ </a>
                      <% } %>
                      <% for (var iCount = StartPage; iCount <= EndPage; iCount++ ){ %>
                        <% if (iCount == CurrentPage) { %>
                          <b class="btnnonactive"><%- iCount %></b>
                        <% } else { %>
                          <a href="/item/<%- iCount %>?searchText=<%- Search %>&searchType=<%- SearchType %>" class="btnactive"><%- iCount %></a>
                        <% } %>
                      <% } %>
                      <% if (EndPage < TotalPage){ %>
                        <a href="/item/<%- EndPage+1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>">  ▶ </a>
                        <a href="/item/<%- TotalPage %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ▶▶ </a>
                      <% } %>
                    </td>
                  </div>
                </tr>
              <% } %>
            </tr>
          </div>
        </tbody>
      </table>
    </div>

    <div class="" style="text-align: center">
      <div class="">
        <form accept-charset="UTF-8" class="" action="/add_item" method="get">
          <button onclick=location.href="/item/add_item" type="button" name="button" style="width:200px">신규등록</a></button>
        </form>
      </div>


    </div>
  </body>
  <footer>
    <%- include ('footer')%>
  </footer>



</html>
