<!DOCTYPE html>
<html><meta charset="utf-8">
  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #PageUl{
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
      #pagelist{
        list-style-type: none;

      }
      #linehead {

        border-right: 2px solid black;
      }
      #line1{
        border-left: 2px solid black;
      }
      #line2{
        border-left: 1px solid grey;
      }
    </style>


  </head>
  <body style="">
    <div class="title_div" >
      <h1><%= title  %></h1>

    </div>
    <div class="" id="seach_form_id" >
      <form action="/recipe/1"  method="get">
        <input type="text" placeholder="모든 항목" name="searchText" style="width:200px">
        <select name="searchType">
          <option value="name">수집품 이름</option>
          <option value="number">수집품 번호</option>

        </select>
        <input action="/recipe/1" type="submit" class="btn" value="찾기" ></button>

      </form>
    </div>
    <div class="">
      <table id="eqtable" class="recipetable" style="width:100%;">
        <colgroup>
          <col width="60" >
          <col width="60" >
          <col span="">
          <col width="40">
          <col span="">
          <col width="60">
          <col width="40">
          <col span="">
          <col width="60">
          <col width="40">
          <col span="">
          <col width="60">
          <col width="40">
          <col span="">
          <col width="60">
          <col width="40">
          <col span="">
          <col width="60">
          <col width="40">
          <col span="">
          <col width="60">

        </colgroup>
        <thead id="" >
          <tr >
            <th>레시피</th>
            <th>결과물</th>
            <th id="linehead"></th>
            <th id="line1"></th>
            <th></th>
            <th></th>
            <th id="line2"></th>
            <th></th>
            <th></th>
            <th id="line2"></th>
            <th></th>
            <th></th>
            <th id="line2"></th>
            <th></th>
            <th></th>
            <th id="line2"></th>
            <th></th>
            <th></th>
            <th id="line2"></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <% if(typeof(CurrentPage) === 'undefined'){ %>
            <tr>
              <td colspan="22"; style= "text-align:center;"> 검색이 필요합니다.</td>
            </tr>
          <% } else if (TotalCountNull === 0) { %>
            <tr>
              <td colspan="22"; style= "text-align:center;"> 해당 자료가 없습니다.</td>
            </tr>

          <% } else{ %>
            <% data.forEach(function(item) { %>
            <tr style="white-space: pre-line; font-size:12px;" id="recipetabletr">
              <td style="text-align: center;"><%- item.recipenum %></td>
              <td style="text-align: center;"><%- item.collectnum %></td>
              <td id="linehead"><%- item.collectname %></td>
              <td id="recipematerial1"><%- item.collect1num %></td>
              <td><%- item.collect1name %></td>
              <td style="text-align: center; "><%- item.collect1unit %></td>
              <td id="recipematerial2"><%- item.collect2num %></td>
              <td st><%- item.collect2name %></td>
              <td style="text-align: center; "><%- item.collect2unit %></td>
              <td id="recipematerial3"><%- item.collect3num %></td>
              <td><%- item.collect3name %></td>
              <td style="text-align: center;"><%- item.collect3unit %></td>
              <td id="recipematerial4"><%- item.collect4num %></td>
              <td><%- item.collect4name %></td>
              <td style="text-align: center;"><%- item.collect4unit %></td>
              <td id="recipematerial5"><%- item.collect5num %></td>
              <td><%- item.collect5name %></td>
              <td style="text-align: center;"><%- item.collect5unit %></td>
              <td id="recipematerial6"><%- item.collect6num %></td>
              <td><%- item.collect6name %></td>
              <td style="text-align: center;"><%- item.collect6unit %></td>
              <td style="white-space: normal; text-align:center">
                  <div class="" style="display: inline-block">
                    <form action="/recipe/fixrecipe" method="get ">
                      <input type=text list=browsers style="display:none" checked value="<%= item.recipenum %>" name="SeachNum">

                      <input style="width:60px; " type="submit" value="수정" />
                    </form>
                  </div>
              </td>
            </tr>
            <% }); %>
          <% } %>
          <div class="" id="PageUl" >
          <% if(typeof(CurrentPage) === 'undefined'){ %>
            <tr>
              <div class="" id="pagelist" >
                <td colspan="22" style= "text-align:center; font-size:24px">
                  검색이 필요합니다.
                </td>
              </div>
            </tr>
          <% } else { %>
            <tr>
              <div class="" id="pagelist">
                <td colspan="22" style= "text-align:center; font-size:24px">
                  <% if (CurrentPage > PageSize){ %>
                    <a href="/recipe/1?searchText=<%-Search %>&searchType=<%- SearchType %>"> ◀◀ </a>
                    <a href="/recipe/<%- StartPage-1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ◀ </a>
                  <% } %>
                  <% for (var iCount = StartPage; iCount <= EndPage; iCount++ ){ %>
                    <% if (iCount == CurrentPage) { %>
                      <b class="btnnonactive"><%- iCount %></b>
                    <% } else { %>
                      <a href="/recipe/<%- iCount %>?searchText=<%- Search %>&searchType=<%- SearchType %>"class="btnactive"><%- iCount %></a>
                    <% } %>
                  <% } %>
                  <% if (EndPage < TotalPage){ %>
                    <a href="/recipe/<%- EndPage+1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>">  ▶ </a>
                    <a href="/recipe/<%- TotalPage %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ▶▶ </a>
                  <% } %>
                </td>
              </div>
            </tr>
          <% } %>
          </div>
        </tbody>
      </table>
    </div>


  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
</html>
