<!DOCTYPE html>
<html><meta charset="utf-8">
  <head>
    <%- include ('head') %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #mainWrapper{
        margin: 0 auto; /*가운데 정렬*/
      }

      #mainWrapper > ul > li:first-child {
        font-size:14pt;
        vertical-align:middle;
      }

      #boardlist ul, li{
        list-style:none;
        text-align:center;
        padding:0;
        margin:0;
      }
      #boardlist {margin-top:10px;}
      #boardlist > li:first-child > ul > li {
          background-color:#c9c9c9;
          font-weight:bold;
      }
      #boardlist > li > ul {
          clear:both;
          padding:0px auto;
          position:relative;
          min-width:40px;
      }
      #boardlist > li > ul > li {
        height:25px;
        line-height: 25px;
        float:left;
        font-size:10pt;
        border-bottom:1px solid silver;
        vertical-align:baseline;
      }
      #boardlist > li > ul > li:first-child               {width:10%;} /*No 열 크기*/
      #boardlist > li > ul > li:first-child +li           {width:55%;} /*제목 열 크기*/
      #boardlist > li > ul > li:first-child +li+li        {width:20%;} /*작성일 열 크기*/
      #boardlist > li > ul > li:first-child +li+li+li     {width:15%;} /*작성자 열 크기*/
      // #boardlist > li > ul > li:first-child +li+li+li+li{width:10%;} /*조회수 열 크기*/
    </style>

  </head>

  <body>
    <div class="" style="float:right; height:50px ; width:100%" >
      <form class="" action="/test/write" method="get">
        <button type="submit" style=" float:right; height:50px ; width : 100px;">글쓰기</button>
      </form>
    </div>
    <div  id="mainWrapper" class="">
      <li >
        <ul id="boardlist">
          <li>
            <ul >
              <li >번호</li>
              <li >제목</li>
              <li>글쓴이</li>
              <li>작성시간</li>
            </ul>
          </li>
          <% for (var i = 0; i < data.length; i++) {  %>
            <li>
              <ul>
                <li><%- data[i].fbid %></li>
                <% if(data[i].commentcount !== '0' || data[i].commentcount !== null ){  %>
                  <li><a href="/test/<%- data[i].fbid %>"><%- data[i].fbtitle %></a> [<%- data[i].commentcount %>]</li>
                <% } else { %>
                  <li><a href="/test/<%- data[i].fbid %>"><%- data[i].fbtitle %></a></li>
                <% } %>
                <li><%- data[i].fbname %></li>
                <li><%- data[i].fbcreatedat %></li>
              </ul>
            </li>
          <% }); %>
        </ul>
      </li>
    </div>
  </body>

  <footer>
    <%- include ('footer') %>
  </footer>

</html>
