<!DOCTYPE html>
<html><meta charset="utf-8">
  <head>
    <%- include ('head') %>
    <title><자유게시판></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style media="screen" >
      #showboardtable {
        width: 100%;
        font-size: 18px;
      }
      #showboardtable tr td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        white-space:pre-wrap;

      }
      #showboardtable td:first-of-type {
        text-align: center;
      }
      #showboardtabletitles td {
        text-align:center;
        vertical-align: middle;
        height: 100%;
      }
    </style>
    <script  src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
      //$(document).ready(function(){
      //  $('#comment_submit').click(function() {
      //    $.ajax({
      //      url: '/test/comment',
      //      type: 'post',
      //      dataType: "json",
      //      data: {
      //        comment_box : $("#comment_box").text(),
      //        comment_writer: $("#comment_writer").text(),
      //        fbid: $("#fbid").text(),
      //      },
      //      success: function(data) {
      //        var subcomment = '<tr> <td>' + data.writer + '</td> <td> ' + data.body + '</td> <td> '+ data.time +'</td> </tr>'
      //        $('#comment_list').append(subcomment);
      //        alert("Data Loaded: " + data);
      //        console.log("Data Loaded: " + data);

      //      }
      //    });
      //  })
      //});

    </script>
  </head>
  <body style="margin-top: 5px; margin-right: 10%; margin-left:10%; ">
    <div class="showboard">
      <table id = "showboardtable">
        <div class="">
          <tr>
            <td></td>
            <td></td>

            <td></td>
            <td  name="fbid"><%- data.fbid %></td>
          </tr>
          <tr>
          <div class="" id="showboardtabletitles" >
            <td style="width:80px;">제목</td>
          </div>
          <div class="">
            <td><%- data.fbtitle %></td>
            <td style="width:10%;"><%- data.fbcreatedat %></td>
            <td style="width:10%;"><%- data.fbupdatedAt %></td>
          </div>
          </tr>
        </div>
        <div class="">
          <tr>
            <div class="boardbody" id="showboardtabletitles" >
              <td>글쓴이</td>
            </div>
            <div class="">
              <td colspan="3"><%- data.fbname %></td>
            </div>
          </tr>
        </div>
        <div class="">
          <tr>
            <div class="" id="showboardtabletitles">
              <td>내용</td>
            </div>
            <div class="">
              <td style="height:400px" colspan="3"><%- data.fbbody %> </td>
            </div>
          </tr>
        </div>

      </table>
    </div>
    <div class="" id="comment_list" style="margin-left:10%; margin-right:10%; margin-top:10px">
      <table style="width:100%;   border-spacing: 0px 5px;">
        <% if(typeof(data_comment[0]) !== 'undefined'){ %>
          <% data_comment.forEach(function(item_comment) { %>
          <tr style="mag">
            <td style="width:15%; border-bottom: 1px solid #ccc"><%- item_comment.writer %></td>
            <td style="width:70%; border-bottom: 1px solid #ccc"><%- item_comment.body %></td>
            <td style="width:15%; border-bottom: 1px solid #ccc"><%- item_comment.time %></td>
          </tr>
          <% }) %>
        <% } %>
      </table>


    </div>
      <div class="" style="border:2px solid; width:50%;  margin-top:10px; margin-bottom: 10px; margin-right: 25%; margin-left:25%; " >
        <form class="" action="/test/comment" method="post" style="position: relative; margin:20px; margin-bottom:45px">
          <div class="" style="display:none" >
            <textarea type="text" name="fbid"  style="resize: none; width:100% ; border:none" rows="1"  id="fbid" > <%- data.fbid %></textarea>
          </div>
          <div class="" style="display:none" >
            <textarea type="text" name="commentcount" id=""  style="resize: none; width:100% ; border:none" rows="1"  id="fbid" > <%- data.commentcount %></textarea>
          </div>
          <div class="">
            <input type="text" name="comment_writer" size='15' value="익명"  style="border-top:none; border-left:none; border-right:none; margin-bottom:15px"id="comment_writer">
            <textarea type="text" name="comment_box"  style="resize: none; width:100% ; border:none" rows="3"  id="comment_box" placeholder="댓글을 적어보세요!"></textarea>
          </div>

          <div class="" style="position: relative; float:right" >
            <input   id="comment_submit" style="line-height:25px;" type="submit" name="작성하기" value="댓글 작성" />
          </div>
        </form>
      </div>

    <div class="" style="position: relative; float:right">
        <button onclick="location.href='https://withaaf.herokuapp.com/test/'" type="button" name="button" style="font-size:20px;  ">뒤로</a></button>
    </div>

  </body>
  <footer>
    <%- include ('footer') %>
  </footer>
</html>
