<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    #left_sidenav {
      height: 100%;
      width: 15%;
      z-index: 1;
      overflow-x: hidden;
      position: absolute;
    }
    #left_sidenav ul{
      padding-left: 0px;
      font-size: 18px;
    }
    #left_sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: black;
      display: block;
    }

    #left_sidenav a:hover {
      color: white;
      background-color: gray;
    }
    #left_sidenav li ul {
      background: ;
      display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
      height:auto;
      padding:0px;
      margin:0px;
      border:0px;
      z-index:200;
      font-size: 12px;
    }
    #left_sidenav li:hover ul {
      font-size: 14px;
      padding-left: 10px;

      display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }
    </style>
  </head>
  <body style="margin:20px 50px 20px 50px">
    <div class="" style="width:350px" id="left_sidenav">
      <ul>
        <h3 class="" style="margin:5px" >강적</h3>
        <% for ( i = 0; i < list1.length; i++){ %>
          <% if (list1[i].rival_grade == '일반 강적'){ %>
            <% var rival_firstname = list1[i].rival_name.split(' "')[0] %>
            <li>
              <a href="/test/<%- rival_firstname %>" class=" "> <%- list1[i].rival_name %></a>
            </li>
          <% } %>

        <% } %>


        <h3 class="" style="margin:5px" >희귀 강적</h3>
        <% for ( i = 0; i < list1.length; i++){ %>
          <% if (list1[i].rival_grade == '희귀 강적'){ %>
            <% var rival_firstname = list1[i].rival_name.split(' "')[0] %>
            <li>
              <a href="/test/<%- rival_firstname %>" class=" "> <%- list1[i].rival_name %></a>
            </li>
          <% } %>
        <% } %>



          <h3 class="" style="margin:5px" >대강적</h3>
          <% for ( i = 0; i < list1.length; i++){ %>
            <% if (list1[i].rival_grade == '대강적'){ %>
              <% var rival_firstname = list1[i].rival_name.split(' "')[0] %>
              <li>
                <a href="/test/<%- rival_firstname %>" class=" "> <%- list1[i].rival_name %></a>
              </li>
            <% } %>
          <% } %>

      </ul>
    </div>





    <div style="margin-left:350px">
      <% if (typeof(Search) != 'undefined'){ %>
        <table width="80%" border="1" class="aaf table_st" style="border-collapse: collapse ; margin: 0 auto 0 auto" id="rival_RoseWhip">
          <thead>
            <colgroup>
              <col width="200">
              <col width="50">
              <col width="75">
              <col width="75">
              <col width="200">
              <col width="350">
              <col width="300">
              <col width="650">
            </colgroup>
          </thead>
          <tbody>
            <tr align="center" height="40">
              <td style="font-size:18px; font-weight:bold; color:#ffffff; background-color:#b8b6b6;" colspan="8"><%- list2.rival_name %></td>
            </tr>
            <tr>
                <td style="padding:18px 18px 0 18px;" colspan="8">
                  <%- list2.rival_information %>
                </td>
            </tr>


            <tr>
              <td colspan="8" style="text-align:center">
                무기
              </td>
            </tr>
              <% data1.forEach(function(item) { %>
                <% if (item.wpname != null ) { %>
                  <% if (item.wpproperty.indexOf('/') != -1){ %>
                    <% var WpP = item.wpproperty.split('/') %>
                    <% if ( WpP[1] == ' 불 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line; background-color:#FFD5DD">
                    <% } else if (WpP[1] == ' 물 ' ) { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#DBE0FC">
                    <% } else if (WpP[1] == ' 바람 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#CEFFD3">
                    <% } else if (WpP[1] == ' 땅 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#F8EAD8">
                    <% } else if (WpP[1] == ' 정신 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#FFFFDB">
                    <% } else if (WpP[1] == ' 아스트랄 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#E4C1F2">
                    <% } else if (WpP[1] == ' 무속성 ') { %>
                      <tr class="" id="tabletr" style="white-space: pre-line;  background-color:#EAEAEA">
                    <% } %>
                  <% } else { %>
                    <tr class="" id="tabletr" style="white-space: pre-line; ">
                  <% } %>
                    <td><%- item.wpname %></td>
                    <td style='text-align: center'><%- item.wplimit %></td>
                    <td style='text-align: center'><%- item.wpsocket %></td>
                    <td style='text-align: center'><%- item.wpether %></td>
                    <td style='text-align: center'><%- item.wpstats %></td>
                    <td style='text-align: center'><%- item.wpproperty %></td>
                    <td><%- item.wpfeat %></td>
                    <td><%- item.wpcustom %></td>
                  </tr>
                <% } %>
              <% }) %>



                <tr >
                  <td colspan="8" style="text-align:center">
                    방어구
                  </td>
                </tr>

                <% data1.forEach(function(item) { %>
                  <% if (item.armname != null){ %>
                    <tr>
                      <td><%- item.armname %></td>
                      <td style='text-align: center'><%- item.armlimit %></td>
                      <td style='text-align: center'><%- item.armsocket %></td>
                      <td style='text-align: center'><%- item.armether %></td>
                      <td style='text-align: center'><%- item.armstats %></td>
                      <td style='text-align: center'><%- item.armproperty %></td>
                      <td><%- item.armfeat %></td>
                      <td><%- item.armcustom %></td>
                    </tr>
                  <% } %>

                <% }) %>


                <tr>
                  <td colspan="8" style="text-align:center">
                    악세사리
                  </td>
                </tr>
                <% data1.forEach(function(item) { %>
                  <% if (item.accname != null){ %>
                    <tr>
                      <td><%- item.accname %></td>
                      <td style='text-align: center'><%- item.acclimit %></td>
                      <td style='text-align: center'><%- item.accsocket %></td>
                      <td style='text-align: center'><%- item.accether %></td>
                      <td style='text-align: center'><%- item.accstats %></td>
                      <td style='text-align: center'><%- item.accproperty %></td>
                      <td><%- item.accfeat %></td>
                      <td><%- item.acccustom %></td>
                    </tr>
                  <% } %>

                <% }) %>




                <tr>
                  <td colspan="8" style="text-align:center">
                    피트서포터
                  </td>
                </tr>
                <% data1.forEach(function(item) { %>
                  <% if (item.featname != null){ %>
                    <tr>
                      <td colspan="2"><%- item.featname %></td>
                      <td colspan="3"><%- item.feat %></td>
                      <td colspan="3"><%- item.reversefeat %></td>
                    </tr>
                  <% } %>

                <% }); %>


                <tr>
                  <td colspan="8" style="text-align:center">
                    루엘
                  </td>
                </tr>
                <% data1.forEach(function(item) { %>
                  <% if (item.gemname != null){ %>
                    <tr>
                      <td colspan="2"><%- item.gemgrade %></td>
                      <td colspan="2" style='text-align: center'><%- item.gemname %></td>
                      <td colspan="1" style='text-align: center'><%- item.gemobject %></td>
                      <td colspan="3"><%- item.gemeffect %></td>
                    </tr>
                  <% } %>

                <% }); %>

            <tr>
              <td colspan="8" style="text-align:center">
                수집품 - 준비중입니다
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td colspan="8" style="text-align:center">
                조수 - 준비중입니다
              </td>
            </tr>
            <tr>
              <td colspan="8" style="text-align:center">
                칭호 - 준비중입니다
              </td>
            </tr>
          </tbody>



        </table>

      <% } %>


    </div>

  </body>
</html>
