<!DOCTYPE html>
<html>
  <head>
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style media="screen">
      table {
        border: 1px   solid #444444;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

      }
      th, td{
        border: 1px solid #444444;
        border-collapse: collapse;
      }
    </style>
    <script type="text/javascript">

    </script>
  </head>
  <body style="">
    <h1><%= title %></h1>



    <table id="" style="width:800px;">
      <colgroup>
        <col span="" id ="" style=" ">
        <col span="" id ="" style=" ">
        <col span="" id ="" style=" ">
        <col span="" id ="" style=" ">

      </colgroup>

      <tr>
        <td colspan=""><%- data.wpname %></td>
        <td><%- data.wplimit %></td>
        <td><%- data.wpether %></td>
        <td><%- data.wpproperty %></td>
      </tr>
      <tr>
        <td><%- data.wpsocket %></td>
        <td colspan="3"><%- data.wpstats %></td>
      </tr>
      <tr>
        <td colspan="4"><%- data.wpfeat %></td>
      </tr>
      <tr>
        <td colspan="4"><%- data.wpcustom %></td>
      </tr>
    </table>
    <div class="" style="text-align: center">
      <form class="" action="/testAssembly" method="post">
        <input type="submit" name="assemble" style=""value="재조립하기" />
      </form>

    </div>

  </body>
  <footer>
    <%- include ('footer')%>
  </footer>
</html>
