<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <%- include ('head') %>
  <title><%= title%></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style media="screen">
  </style>
  <script type="text/javascript">
    function checkonclick() {
      if (document.add.datalistname.value == "" || document.add.title.value == null || document.add.datalistname.value == undefined || (document.add.datalistname.value != null && typeof document.add.datalistname.value == "object" && !Object.keys(
          document.add.datalistname.value).length)) {
        alert("내용을 입력해주세요!");
        document.add.datalistname.focus();
        return false;
      }
      return true;
    }
  </script>


</head>

<body style="">
  <form accept-charset="utf-8" action="/searchall"  method="get">
    <input type="text" placeholder="모든 항목" name="searchtext" style="width:200px">
    <select name="searchtype">
      <option value="name">수집품 이름</option>

    </select>
    <input type="submit" class="btn" value="찾기"/ >

  </form>
  <table>

      <colgroup>
        <col width="60" >
        <col width="60" >
        <col span="">
        <col width="40">
        <col span="">
        <col width="60">
        <col width="40">
        <col span="">
        <col width="60">
        <col width="40">
        <col span="">
        <col width="60">
        <col width="40">
        <col span="">
        <col width="60">
        <col width="40">
        <col span="">
        <col width="60">
        <col width="40">
        <col span="">
        <col width="60">

      </colgroup>

      <thead id="" >
        <tr >
          <th>레시피</th>
          <th>결과물</th>
          <th id="linehead"></th>
          <th id="line1"></th>
          <th></th>
          <th></th>
          <th id="line2"></th>
          <th></th>
          <th></th>
          <th id="line2"></th>
          <th></th>
          <th></th>
          <th id="line2"></th>
          <th></th>
          <th></th>
          <th id="line2"></th>
          <th></th>
          <th></th>
          <th id="line2"></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>

          <% if(typeof(data.length) == 0){ %>
            <tr>
              <td colspan="22"; style= "text-align:center;"> 자료가 없습니다.</td>
            </tr>
          <% } else{ %>

              <% data.forEach(function(item) { %>
              <tr style="white-space: pre-line; font-size:12px;" id="recipetabletr">
                <td style="text-align: center;"><%- item.recipenum %></td>
                <td style="text-align: center;"><%- item.collectnum %></td>
                <td id="linehead"><%- item.collectname %></td>
                <td id="recipematerial1"><%- item.collect1num %></td>
                <td><%- item.collect1name %></td>
                <% if ( item.collect1num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect1unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect1unit %> 개 ) </td>
                <% } %>
                <td id="recipematerial2"><%- item.collect2num %></td>
                <td st><%- item.collect2name %></td>
                <% if ( item.collect2num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect2unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect2unit %> 개 ) </td>
                <% } %>
                <td id="recipematerial3"><%- item.collect3num %></td>
                <td><%- item.collect3name %></td>
                <% if ( item.collect3num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect3unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect3unit %> 개 ) </td>
                <% } %>
                <td id="recipematerial4"><%- item.collect4num %></td>
                <td><%- item.collect4name %></td>
                <% if ( item.collect4num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect4unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect4unit %> 개 ) </td>
                <% } %>
                <td id="recipematerial5"><%- item.collect5num %></td>
                <td><%- item.collect5name %></td>
                <% if ( item.collect5num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect5unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect5unit %> 개 ) </td>
                <% } %>
                <td id="recipematerial6"><%- item.collect6num %></td>
                <td><%- item.collect6name %></td>
                <% if ( item.collect6num  === ''){ %>
                  <td style="text-align: center; "><%- item.collect6unit %></td>
                <% } else { %>
                  <td style="text-align: center; "> ( <%- item.collect6unit %> 개 ) </td>
                <% } %>
              </tr>
              <% }); %>
      </tbody>
  </table>

</body>
<footer>
  <%- include ('footer')%>
</footer>

</html>
