<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>
    #left_sidenav {
      height: 100%;
      width: 15%;
      z-index: 1;
      background-color: ;
      overflow-x: hidden;
      position: absolute;
    }
    #left_sidenav ul{
      padding-left: 0px;
      font-size: 18px;
    }
    #left_sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: black;
      display: block;
    }

    #left_sidenav a:hover {
      color: white;
      background-color: gray;
    }
    #left_sidenav li ul {
      background:;
      display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
      height:auto;
      padding:0px;
      margin:0px;
      border:0px;
      z-index:200;
      font-size: 12px;
    }
    #left_sidenav li:hover ul {
      font-size: 14px;
      padding-left: 10px;

      display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
    }

    .main {
      margin-left: 15%;
      padding-left: 20px;
    }

    .linehead {

      border-right: 2px solid black;
    }

    .fieldname{
      font-weight: bold;
      font-size: 20px;
    }

  </style>
  <script type="text/javascript">
    function checkonclick() {
      if (document.searchform.SearchText.value == "" || document.searchform.SearchText.value == null || document.searchform.SearchText.value == undefined || ( document.searchform.SearchText.value != null && typeof document.searchform.SearchText.value == "object" && !Object.keys(document.searchform.SearchText.value).length ) ) {
        alert("내용을 입력해주세요!");
        document.searchform.SearchText.focus();
        return false;
      }
      return true;
    }


  </script>

  <script  src="https://code.jquery.com/jquery-3.5.1.min.js">    </script>
  <script type="text/javascript">


    //배혼 검색 폼
    $(document).on("click","input[name=SearchMonLv]",function(){
      var add =
      '<form action="/test/search" method="get" name="searchform" onsubmit="return checkonclick()">'
      +'<div class="" id="seach_form_id" name="seach_form_id">'
      +'<input type="text" placeholder="숫자를 적어주세요" name="SearchText" style="width:200px">'
      + '<select name="SearchType">'
      +    '<option value="MonLvDown">배혼</option>'
      +'</select>'
      +'<input type="button" name="SearchType2" class="btnAdd" value="적의 레벨 변화 감소 커스텀">'
      +'<input action="/test/search" type="submit" class="btn" value="찾기"  ></button>'
      +'<input type="button" name="NormalSearch" class="btnAdd" value="일반 검색으로">'
      +'</div>'
      +'<div class="" id="seach_form_id2" name="seach_form_id2">'
      +'</div>'
      +'</form>'

      $("#seach_form_id").html(add); //seach_form_id 라는 id의 태그를 add 로 바꿈

    });

    //배혼 검색시 렙변커스텀 적용 추가버튼
    $(document).on("click","input[name=SearchType2]",function(){
      var add2 =
      '<div class="" id="seach_form_id2" name="seach_form_id2">'
      +'<input type="text" placeholder="렙변 커스텀 수치를 적어주세요" name="SearchText2" style="width:200px">'
      + '<select name="searchType2">'
      +    '<option value="LvCustom">레벨 변화 커스텀</option>'
      +'</select>'

      +'<button class="btn btn-default" name="delbut">삭제</button>'
      +'</div>'
      var aaa2 = $( "div[name=seach_form_id2]:last" ); //last를 사용하여 seach_form_id2라는 명을 가진 마지막 태그 호출
      if ($("#seach_form_id2").length < 2) {
        aaa2.html(add2); //마지막 seach_form_id2  뒤에 붙인다.
      }

      //삭제 버튼
      $(document).on("click","button[name=delbut]",function(){
          var aaa2 = $(this).parent();
          aaa2.remove(); //tr 테그 삭제
      });
    })



    //일반검색 폼으로
    $(document).on("click","input[name=NormalSearch]",function(){
      var add =
      '<form action="/test/search" method="get" name="searchform" onsubmit="return checkonclick()">'
      +'  <input type="text" placeholder="찾기 버튼을 누르세요" name="SearchText" id="SearchText" style="width:200px">'
      +'  <select name="SearchType">'
      +'    <option value="name">이름</option>'
      +'    <option value="property">속성</option>'
      +'    <option value="type">타입</option>'
      +'    <option value="collect">수집품</option>'
      +'  </select>'
      +'  <input action="/test/search" type="submit" class="btn" value="찾기"  ></button>'
      +'  <input type="button" name="SearchMonLv" class="btnAdd" value="배혼 검색">'
      +'</form>'

      $("#seach_form_id").html(add); //seach_form_id 라는 id의 태그를 add 로 바꿈

    });




  </script>

    <%- include ('head') %>
  <title><%= title%></title>
</head>

<body>
  <div id="left_sidenav">
    <ul>
      <% for ( i = 0; i < data.length ; i++){ %>
        <li class="">
          <a href="#" ><%- data[i].Field %></a>
          <ul class="">
            <% for ( j = 0; j < data_partition.length ; j++){ %>
              <% if(data_partition[j].FieldName === data[i].FieldName){ %>
                <li>
                  <a href="/test/<%- data_partition[j].part %>"><%- data_partition[j].PartitionName %></a>
                </li>
              <% }; %>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>


  </div>
  <div class="main" >
    <div class="title_div" >
      <h1>몬스터</h1>
    </div>
    <div class="" id="seach_form_id" >
      <form action="/test/search" method="get" name="searchform" onsubmit="return checkonclick()">
        <input type="text" placeholder="찾기 버튼을 누르세요" name="SearchText" id="SearchText" style="width:200px">
        <select name="SearchType">
          <option value="name">이름</option>
          <option value="property">속성</option>
          <option value="type">타입</option>
          <option value="collect">수집품</option>
        </select>
        <input action="/test/search" type="submit" class="btn" value="찾기"  ></button>
        <input type="button" name="SearchMonLv" class="btnAdd" value="배혼 검색">


      </form>
    </div>
    <div>
      <table id="mon_table" style="margin-top:5px; width:100%">


        <% if(typeof(Field_Id) === 'undefined'){ %>
          <thead>
            <tr>
              <th>레벨</th>
              <th>이름</th>
              <th>속성</th>
              <th>에테르</th>
              <th>타입</th>
              <th>저항</th>
              <th>보석</th>
              <th>커먼</th>
              <th>언커먼</th>
              <th>레어</th>
              <th>스킬</th>
            </tr>
          </thead>
        <% } else if (Field_Id === 'FireTower' || Field_Id === 'EarthTower' ){ %>
          <thead>
            <tr>
              <th>층</th>
              <th>이름</th>
              <th>HP계수</th>
              <th>에테르</th>
              <th>속성</th>
              <th>타입</th>
              <th>내성 정보</th>
              <th>커먼</th>
              <th>언커먼</th>
              <th>레어</th>
              <th>스킬</th>
            </tr>
          </thead>
        <% } else { %>
          <thead>
            <tr>
              <th>레벨</th>
              <th>이름</th>
              <th>속성</th>
              <th>에테르</th>
              <th>타입</th>
              <th>저항</th>
              <th>보석</th>
              <th>커먼</th>
              <th>언커먼</th>
              <th>레어</th>
              <th>스킬</th>
            </tr>
          </thead>
        <% } %>



        <tbody>
          <% if (Data_length != 0 ){ %>
            <% if (typeof(Field_Id) != 'undefined'){ %> <!-- 필드별 몬스터 일떄 -->
              <% if (data_monster[0].FieldName === 'Training'){ %>
                <tr>
                  <td colspan="11"; style= "text-align:left; padding-left: 50px;" class="fieldname"> 수행 <%- data_monster[0].PartitionName %></td>
                </tr>
              <% } else { %>
                <tr>
                  <td colspan="11"; style= "text-align:left; padding-left: 50px;" class="fieldname"> <%- data_monster[0].PartitionName %></td>
                </tr>
              <% } %>
              <% for ( k = 0; k < Data_length ; k++){ %>
                <% if (data_monster[k].part == data_monster[0].part){ %>
                  <% if (data_monster[k].TowerFloor == '' ){ %>
                    <tr>
                      <td style= "text-align:center;"><%- data_monster[k].mon_lv %></td>
                      <td><%- data_monster[k].mon_name %></td>
                      <td><%- data_monster[k].mon_property %></td>
                      <td><%- data_monster[k].mon_ether %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                      <td><%- data_monster[k].mon_resist %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_gem %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                      <td id =""><%- data_monster[k].mon_skill %></td>
                    </tr>
                  <% } else { %>
                    <% if (data_monster[k].TowerFloor.indexOf('~') != -1){ %>
                      <tr>
                    <% } else { %>
                      <tr style="border-bottom: 3px solid #000; border-top: 3px solid #000;">
                    <% } %>

                      <td style= "text-align:center;"><%- data_monster[k].TowerFloor %></td>
                      <td><%- data_monster[k].mon_name %></td>
                      <td style="text-align: center"><%- data_monster[k].Tower_Hp %></td>
                      <td><%- data_monster[k].mon_ether %></td>
                      <td><%- data_monster[k].mon_property %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                      <td><%- data_monster[k].mon_resist %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                      <td id =""><%- data_monster[k].mon_skill %></td>
                    </tr>
                  <% } %>

                <% } %>
              <% } %>
              <!--  검색시-->
            <% } else { %>
              <% if (data_monster[0].FieldName === 'Training'){ %>
                <tr>
                  <td colspan="11"; style= "text-align:left; padding-left: 50px;" class="fieldname"> 수행 <%- data_monster[0].PartitionName %></td>
                </tr>
              <% } else { %>
                <tr>
                  <td colspan="3"; style= "text-align:left; padding-left: 50px;" class="fieldname"> <%- data_monster[0].PartitionName %></td>
                  <% for (i = 0; i <  data_partition.length ; i ++){ %>
                    <% if (data_monster_count[i].PartitionName === data_monster[0].PartitionName){ %>
                      <td colspan="8"; style= "text-align:left; padding-left: 50px;" class="fieldname"> <%- data_monster_count[0].count %></td>
                    <% } %>

                  <% } %>
                </tr>
              <% } %>
              <% for ( k = 0; k < Data_length ; k++){ %>
                <% if (data_monster[k].part == data_monster[0].part){ %>
                  <% if ( data_monster[k].part !== 'FireTower' || data_monster[k].part !== 'EarthTower'){ %>
                    <tr>
                      <td style= "text-align:center;"><%- data_monster[k].mon_lv %></td>
                      <td><%- data_monster[k].mon_name %></td>
                      <td><%- data_monster[k].mon_property %></td>
                      <td><%- data_monster[k].mon_ether %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                      <td><%- data_monster[k].mon_resist %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_gem %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                      <td id =""><%- data_monster[k].mon_skill %></td>
                    </tr>
                  <% } else { %>
                    <tr>
                      <td></td>
                      <td><%- data_monster[k].mon_name %></td>
                      <td><%- data_monster[k].mon_property %></td>
                      <td><%- data_monster[k].mon_ether %></td>
                      <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                      <td><%- data_monster[k].mon_resist %></td>
                      <td></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                      <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                      <td id =""><%- data_monster[k].mon_skill %></td>
                    </tr>
                  <% } %>
                <% } %>

              <% } %>
              <% for (i = 1, j = i-1;  i < Data_length; i++, j+=1){ %>
                <% if( data_monster[i].part == data_monster[j].part ){continue} %>
                <% if (data_monster[i].FieldName === 'Training'){ %>
                  <tr>
                    <td colspan="11"; style= "text-align:left; padding-left: 50px;" class="fieldname"> 수행 <%- data_monster[i].PartitionName %></td>
                  </tr>
                <% } else { %>
                  <tr>
                    <td colspan="3"; style= "text-align:left; padding-left: 50px;" class="fieldname"> <%- data_monster[0].PartitionName %></td>
                    <% for (i = 0; i <  data_partition.length ; i ++){ %>
                      <% if (data_monster_count[i].PartitionName === data_monster[0].PartitionName){ %>
                        <td colspan="8"; style= "text-align:left; padding-left: 50px;" class="fieldname"> <%- data_monster_count[0].count %></td>
                      <% } %>
                    <% } %>
                  </tr>
                <% } %>
                    <% for ( k = 0; k < Data_length ; k++){ %>
                      <% if (data_monster[k].part == data_monster[i].part){ %>
                        <% if ( data_monster[k].part !== 'FireTower' || data_monster[k].part !== 'EarthTower'){ %>
                          <tr>
                            <td style= "text-align:center;"><%- data_monster[k].mon_lv %></td>
                            <td><%- data_monster[k].mon_name %></td>
                            <td><%- data_monster[k].mon_property %></td>
                            <td><%- data_monster[k].mon_ether %></td>
                            <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                            <td><%- data_monster[k].mon_resist %></td>
                            <td style="text-align: center"><%- data_monster[k].mon_gem %></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                            <td id =""><%- data_monster[k].mon_skill %></td>
                          </tr>
                        <% } else { %>
                          <tr>
                            <td ></td>
                            <td><%- data_monster[k].mon_name %></td>
                            <td><%- data_monster[k].mon_property %></td>
                            <td><%- data_monster[k].mon_ether %></td>
                            <td style="text-align: center"><%- data_monster[k].mon_type %></td>
                            <td><%- data_monster[k].mon_resist %></td>
                            <td ></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_common %></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_uncommon %></td>
                            <td id ="" style="text-align: center"><%- data_monster[k].mon_rare %></td>
                            <td id =""><%- data_monster[k].mon_skill %></td>
                          </tr>
                        <% } %>
                      <% } %>

                    <% } %>

              <% } %>
            <% } %>



          <% } else { %>
            <tr>
              <td colspan="11"; style= "text-align:center; " class="fieldname"> 이런! 원하시는 자료를 찾을 수 없습니다! </td>
            </tr>
          <% } %>





        </tbody>
      </table>
    </div>
  </div>


</body>
<footer style="margin-left:15%">
  <%- include ('footer')%>
</footer>
</html>
