<!DOCTYPE html>
<html>
  <head>
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      table {
        border: 1px   solid #444444;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

      }
      th, td{
        border: 1px solid #444444;
        border-collapse: collapse;
      }
      td{
        font-size: 18px;
      }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    $(function() {
      $("trycount_btn").click(function () {
        var trycount= 0;
        function trycountplus() {
          trycount++;
        }
        $('#trycount').text(trycount);

        $.ajax({
          type: 'GET',
          url: '/ing',
          dataType : 'JSON',
          success: function(result) {
            var socket1 ="<td colspan="3" value="Alldata.result_stats"  name="wpstats" id="" ><%- Alldata.result_stats %></td>";
            var stat1 ="<td colspan="2" value="socket"  name="wpsocket" id="" style="font-size:30px"><%- Alldata.result_socket %></td>"

            ;
            var custom1  ="<td colspan="2" value="custom"  name="wpcustom"><%- Alldata.wpcustom%></td><td colspan="2" value="custom"  name="wpcustom" id="" ><%- Alldata.result_custom %></td>"
            ;

            $('#Socket').html(socket1);
            $('#Stat').html(stat1);
            $('#Custom').html(custom1);

          },

        });
      });
    });
    </script>
  </head>
  <body style="">
    <h1><%= title %></h1>
    <table id="" style="width:60%;">
      <thead>
        <colgroup>
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
          <col span="" id ="" style=" ">
        </colgroup>
      </thead>


      <tbody>
        <tr style="text-align:center">
          <td colspan="" value="<%= data.wpname %>" name="wpname" id="wpname"style="width:40%"><%- data.wpname %></td>
          <td name="wplimit"><%- data.wplimit %></td>
          <td name="wpether"><%- data.wpether %></td>
          <td name="wpproperty"><%- data.wpproperty %></td>
        </tr>
        <tr style="text-align:center">
          <td value="socket"  name="wpsocket" id="Socket" style="font-size:30px"><%- data.wpsocket %></td>
          <td colspan="3" value="<%= data.wpstats %>"  name="wpstats" id="Stat"><%- data.wpstats %></td>
        </tr>
        <tr>
          <td colspan="4" name="wpfeat"><%- data.wpfeat %></td>
        </tr>
        <tr>
          <td colspan="4" value="custom"  name="wpcustom" id="Custom"><%- data.wpcustom%></td>
        </tr>
      </tbody>
    </table>



      <p style="text-align:center">
        현재 재조립을 <span id ='trycount' > 0</span> 회 시도하였습니다.
      </p>


    <div class="" style="text-align: center">
      <form class="" id="try" action="/test/ing" method="get">
        <input type="submit" name="assembly" style="" id="trycount_btn" onclick="trycountplus()"value="<%= data.wpname %>"></button>
      </form>

    </div>

  </body>
  <footer>
    <%- include ('footer')%>
  </footer>

</html>
