<!DOCTYPE html>
<html><meta charset="utf-8">

  <head>
    <%- include ('head') %>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #PageUl{
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
      #pagelist{
        list-style-type: none;
        float: left;
        text-align: center;
      }
    </style>
    <script type="text/javascript">

    </script>
  </head>

  <body style="">
    <div class="title_div" >
      <h1><%= title %></h1>

    </div>

    <div class="" id="seach_form_id" >
      <form action="/test/1" method="get" >
        <input type="text" placeholder="모든 항목" name="searchText" style="width:200px">

        <select name="searchType">
            <option value="name">이름</option>
            <option value="effect">효과</option>
        </select>
        <input action="/test/1" type="submit" class="btn" value="찾기" ></button>
      </form>

    </div>

    <div class="">
      <table id="eqtable" style="width:100%; margin:5px">
        <colgroup >
          <col width="100">
          <col width="200">
          <col width="200">
          <col width="50">
          <col width="50">
          <col width="100">

        </colgroup>

        <thead id="item" width='' border='1' class='aaf' bordercolor='#736BE0' cellspacing='0' cellpadding='1' bordercolorlight='#736BE0' bordercolordark='#FFFFFF'>
          <tr>
            <th>이름</th>
            <th>설명</th>
            <th>효과</th>
            <th>타입</th>
            <th>개수</th>
            <th>획득 경로</th>
          </tr>
        </thead>

        <%# tbody에 잇는 스타일은 '\n ' 줄바꿈을 표현함 %>
        <tbody>
          <% if(typeof(CurrentPage) === 'undefined'){ %>
            <tr>
              <td colspan="4"; style= "text-align:center;"> 검색이 필요합니다.</td>
            </tr>
          <% } else { %>
            <% data.forEach(function(item) { %>
            <tr  style="white-space: pre-line; font-size:12px;">
              <td><%- item.item_name %></td>
              <td><%- item.item_effect %></td>
            </tr>
            <% }); %>
          <% } %>
          <div class="" id="PageUl">
              <% if(typeof(CurrentPage) === 'undefined'){ %>
                <tr>
                  <div class=""  id="pagelist" >
                    <td colspan="4" style= "text-align:center; font-size:24px">
                      검색이 필요합니다.
                    </td>
                  </div>
                </tr>

              <% } else { %>
                <tr>
                  <div class="" id="pagelist" >
                    <td colspan="4" style= "text-align:center; font-size:24px">
                      <% if (CurrentPage > PageSize){ %>
                        <a href="/test/1?searchText=<%-Search %>&searchType=<%- SearchType %>"> ◀◀ </a>
                        <a href="/test/<%- StartPage-1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ◀ </a>
                      <% } %>
                      <% for (var iCount = StartPage; iCount <= EndPage; iCount++ ){ %>
                        <% if (iCount == CurrentPage) { %>
                          <b class="btnnonactive"><%- iCount %></b>
                        <% } else { %>
                          <a href="/test/<%- iCount %>?searchText=<%- Search %>&searchType=<%- SearchType %>" class="btnactive"><%- iCount %></a>
                        <% } %>
                      <% } %>
                      <% if (EndPage < TotalPage){ %>
                        <a href="/test/<%- EndPage+1 %>?searchText=<%- Search %>&searchType=<%- SearchType %>">  ▶ </a>
                        <a href="/test/<%- TotalPage %>?searchText=<%- Search %>&searchType=<%- SearchType %>"> ▶▶ </a>
                      <% } %>
                    </td>
                  </div>
                </tr>
              <% } %>
            </tr>
          </div>
        </tbody>
      </table>
    </div>

  </body>
  <footer>
    <%- include ('footer')%>
  </footer>



</html>
